name: Deploy Backend

on:
  push:
    branches: ["main"]
    paths:
      - "src/SmartDataAnalyst.Backend/**"
      - ".github/workflows/deploy-backend.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - uses: actions/checkout@v3

      # Login to Azure
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Login to ACR
      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      # Build & push image
      - name: Build and Push Backend Image
        run: |
          cd src/SmartDataAnalyst.Backend

          docker build \
          -t ${{ secrets.ACR_LOGIN_SERVER }}/backend:latest \
          -f backend_azure.dockerfile .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/backend:latest

      # Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "${{ secrets.AZURE_WEBAPP_FRONTEND}}"
          images: "${{ secrets.ACR_LOGIN_SERVER }}/backend:latest"
