name: Deploy Backend to Azure Container Apps

on:
  push:
    branches:
      - main
    paths:
      - "src/SmartDataAnalyst.Backend/**"
      - ".github/workflows/deploy-backend.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build & Deploy Backend to Azure Container Apps

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # -----------------------------
      # Login to Azure
      # -----------------------------
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # -----------------------------
      # Login to ACR
      # -----------------------------
      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      # -----------------------------
      # Build & push Docker Image
      # -----------------------------
      - name: Build and Push Backend Image to ACR
        run: |
          IMAGE_NAME=${{ secrets.ACR_LOGIN_SERVER }}/smartdataanalyst-backend:$(date +%s)
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

          docker build \
          -t $IMAGE_NAME \
          -f src/SmartDataAnalyst.Backend/backend_azure.dockerfile \
          src/SmartDataAnalyst.Backend

          docker push $IMAGE_NAME

      # ------------------------------
      # Deploy to Azure Container Apps
      # -----------------------------
      - name: Deploy to Azure Container Apps
        run: |
          az containerapp update \
          --name ${{ secrets.AZURE_WEBAPP_BACKEND }} \
          --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
          --image $IMAGE_NAME
